h1 {
    color: #F5F5F5;
}

h2 {
    color: #053959;
    padding: 20px 0 0 0;
    text-align: center;
}

header {
    text-align: center;
}

table {
    width: 100%;
}

td {
    width: 100px;
    text-align: center;
}

th {
    background-color: #053959;
    color: #F5F5F5;
    text-align: center;
}

input {
    padding: 5px;
    width: 100%;
}

.input-group {
    margin: 10px;
    padding: 10px 0 0 0 0;
    width: 100%;
}

.completed {
    text-decoration: line-through;
    text-decoration-color: #053959;
}

.bg-1 {
    background-color: #053959;
    color: #ffffff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-4 {
    background-color: #053959;
    color: #ffffff;
}